.profile {
    display: grid;
    grid-template-areas: "topImage" "profileCard" "posts";
    grid-gap: 10px;
}

.topImage {
    grid-area: topImage;
}

.topImage img {
    height: 150px;
    width: 990px;
}

.posts {
    grid-area: posts;
}

.preloader {
    position: fixed;
    margin: 20%;
}