.dialogPage {
    display: grid;
    grid-template-areas: "dialogsList currentDialog";
    grid-template-columns: 150px 1fr;
}

.dialogsList {
    grid-area: dialogsList;
}

.currentDialog {
    grid-area: currentDialog;
}
