.userPhoto img{
    height: 100px;
}

.user {
    display: grid;
    grid-template-areas: 'a n' 'a s' 'a fu';
    grid-template-rows: 20px 20px 40px;
    grid-template-columns: 100px 300px;
    padding: 0 10px 20px 10px;
    grid-gap: 5px;
}

.userPhoto {
    grid-area: a;
}

.followUnFollowButton {
    grid-area: fu;
    width: 120px;
}

.itsYouMessage {
    grid-area: fu;
}

.name {
    grid-area: n;
}

.status {
    grid-area: s;
}

.users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.user {
    width: 300px;
}

.preloader {
    position: absolute;
    top: 30vh;
    left: 50vw;
}

.followIcon {
    margin-left: 5px;
}