.message {
    margin: 20px ;
    display: grid;
    grid-template-areas: "dialogAva messageBlock" "userName messageBlock";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 50px 1fr;
    grid-gap: 0px;

}

.messageBlock{
    grid-area: messageBlock;
}
.messageText {
    width: 400px;
    margin: auto 0px auto 50px;
    border: 2px solid darkseagreen;
    padding: 20px;
    border-radius: 15px;
}

.userName {
    margin: 0;
    text-align: center;
}

.angle {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    background: #fff;
    border-bottom: darkseagreen 2px solid;
    border-left: darkseagreen 2px solid;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-left: 44px;
}

.dialogAva {
    height: 50px;
    border-radius: 17px;
}

.addedTime {
    font-size: 10px;
    color: darkseagreen;
    float: right;
    margin-right: -10px;
}
/*
.message:nth-child(even){
    align-self: flex-end;

}

.message img:nth-child(even){
    height: 80px;
    border-radius: 25px;
}
*/

