.newPostTextArea {
    width: 970px;
    height: 80px;
   resize: none;
    border: 0px;
    background-color: #d5ffec;
    vertical-align: auto;
    padding: 10px;
}

.sendButton {
    margin-left: auto;
}

.newPostForm {
    margin: 10px 0;
}

