.currentDialog {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.newMessageField{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

.newMessageTextArea {
    width: 520px;
    height: 70px;
    resize: none;
    border: 0px;
    background-color: #d5ffec;
    vertical-align: auto;
    padding: 15px;
    margin-left: 20px;
}

.sendButton {
    margin-left: 10px;
    margin-bottom: 5px;
}
