.dialogPage {
    display: grid;
    grid-template-areas: "dialogsList currentDialog";
    grid-template-columns: 150px 1fr;
}

.dialogsList {
    grid-area: dialogsList;
    border-right: 2px solid darkseagreen;
}

.currentDialog {
    grid-area: currentDialog;
}

.currentDialog li {
    list-style: none;
}

.currentDialog img {
    height: 50px;
}

.message {
    margin: 20px 0;
    display: grid;
    grid-template-areas: "dialogAva messageBlock" "userName messageBlock";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 50px 1fr;
    grid-gap: 0px;

}

.dialogAva {
    grid-area: dialogAva;
}

.messageBlock{
    grid-area: messageBlock;
}
.messageText {
    width: 300px;
    margin: auto 0px auto 50px;
    border: 2px solid darkseagreen;
    padding: 20px;
    border-radius: 15px;;
}

.userName {
    grid-area: userName;
}

.userName {
    margin: 0;
    text-align: center;
}

.dialogsTitle {
    font-size: 30px;
}

.dialogUsers {
    font-size: 20px;
}

.dialogUsers li {
    margin-bottom: 20px;
}

.angle {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    background: #fff;
    border-bottom: darkseagreen 2px solid;
    border-left: darkseagreen 2px solid;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-left: 44px;
}