.header {
    grid-area: h;
    background-color: darkseagreen;
    border-radius: 0 0 15px 0;
    height: 70px;
}

.logo {
    margin: 5px 0 0 5px;
    width: 60px;
    position: absolute;
}

.authButton {
}

.button {
}

.headerNotifications {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    margin-right: 20px;
    color: white;

}

.headerNotifications div {
    margin-left: 25px;
}

.notificationLink {
    text-decoration: none;
}