.pagination {
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-40%);
}

.pagination span{
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.selectedPage {
    background-color: darkseagreen;
}