
.post {
    display: grid;
    grid-template-areas: "ava postContent";
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
}

.ava {
    grid-area: ava;
}

.postContent {
    grid-area: postContent;
    font-size: 20px;
    margin: auto 0 ;
}

.post {
    margin: 20px 0;
}


.post img{
    height: 50px;
}

.likeCount{
    color: #09bc4c;
    font-size: 15px;
}

.like{
    color: #09bc4c;
    font-size: 15px;
    margin-left: 10px;
}